@import "mixins";
@import "variables";

.layout {
  height: 100vh;
  display: flex;

  @include respond(mob-nav) {
    display: block;
    width: 100%;
  }

  &__outlet {
    @include respond(mob-nav-b) {
      height: 100vh;
      background-color: red;
      width: 80%;
      overflow: scroll;
    }

    @include respond(mob-nav) {
      height: 100vh;
      background-color: red;
      top: 0;
    }
  }
}
