@import "mixins";
@import "variables";

.header {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: $color-black;
  color: $color-primary;
  width: 100%;
  position: sticky;
  top: 0;

  @include respond(mob-nav) {
    display: none;
  }
}

.username {
  font-size: 1.5rem;
  font-weight: 300;
}

.login {
  font-size: 1.5rem;
  font-weight: 300;
}
