@import "mixins";
@import "variables";

.sign_in {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30vh;

  @include respond(mob-nav) {
    width: 70%;
  }

  @include respond(phone) {
    width: 80%;
  }

  @include respond(mini-phone) {
    width: 90%;
  }

  &__div {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include respond(mob-nav) {
      width: 100%;
    }

    &--label {
      font-size: 1.5rem;
      font-weight: 300;

      @include respond(mob-nav) {
        font-size: 2.2rem;
      }
    }

    &--input {
      height: 2.5rem;
      background-color: lightgray;
      padding: 1rem;
      border: none;

      @include respond(mob-nav) {
        height: 5rem;
        font-size: 3rem;
      }
    }
  }

  &__button {
    background-color: $color-primary;
    width: 30%;
    margin: auto;
    height: 2.5rem;
    font-size: 1.3rem;
    border-radius: 15%;
  }

  &__para {
    font-size: 1.7rem;

    @include respond(mob-nav) {
      font-size: 1.5rem;
    }

    &--link {
      color: $color-primary;
    }
  }
}
